.grand{
    color: purple;
}
.grand input{
    border: none;
    text-indent: 1em;
    outline: none;
}
.father{
   color: green;
}
.child{
    color: #000;
}
.child input{
    border: 1px solid #000;
}